{%extends 'index_pharmacy.html'%}
{%block body%}

<body>
<form id="form1" name="form1" method="post" action="/submit_edit_medicine">
  <div align="center">
    <table width="200" border="1">
      <tr>
        <td>Medicine Name </td>
        <td><label>
          <input type="text" name="textfield" value="{{v[2]}}" required pattern="[A-Z a-z.]{3,25}" />
        </label></td>
      </tr>
      <tr>
        <td>Medicine Brand </td>
        <td><label>
          <input type="text" name="textfield2" value="{{v[3]}}" pattern="[A-Z a-z.]{3,25}" />
        </label></td>
      </tr>
      <tr>
        <td>Manufacture Date </td>
        <td><label>
          <input type="date" name="textfield3" value="{{v[4]}}" required />
        </label></td>
      </tr>
      <tr>
        <td>Expiry Date </td>
        <td><label>
          <input type="date" name="textfield4" required />
        </label></td>
      </tr>
      <tr>
        <td>Quantity</td>
        <td><label>
          <input type="text" name="textfield5" value="{{v[6]}}" pattern="{0,25}" />
        </label></td>
      </tr>
      </table>
    <p>
      <label>
      <input type="submit" name="Submit" value="Submit" />
      </label>
    </p>
  </div>
</form>
</body>
{%endblock%}
