{%extends 'index_admin.html'%}
{%block body%}

<body>
<form id="form1" name="form1" method="post" action="/pharmacyview_details">
  <div align="center">
    <p>&nbsp;</p>
    <p>
      <label></label>
      <label>Type
      <select name="select">
        <option>Private</option>
        <option>Hospital</option>
      </select>
      </label>
      <label>
      <input type="submit" name="Submit2" value="Search" />
      </label>
    </p>
  </div>
</form>
  <form id="form2" name="form2" method="post" action="/pharmacy_registration">
    <div align="center">
    <table width="200" border="1">
      <tr>
        <th>Pharmacy name </th>
        <th>Address</th>
        <th>Manage</th>
      </tr>
      {% for i in res %}
      <tr>
        <td>{{i[4]}}</td>
        <td>{{i[9]}}</td>
        <td><p><a href="{{url_for('edit_pharmacy', id=i[0])}}">Edit</a></p>
        <p><a href="{{url_for('delete_pharmacy_details', id=i[1])}}">Delete</a></p></td>
      </tr>
      {% endfor %}
    </table>
    <p>
      <label>
      <input type="submit" name="Submit" value="Add" />
      </label>
    </p>
  </div>
  </form>
</body>
{%endblock%}
