{%extends 'index_hospital.html'%}
{%block body%}

<body>
<form id="form1" name="form1" method="post" action="/doctor_reg_code">
  <div align="center">
    <table width="231" border="1">
      <tr>
        <td width="90">Doctor name </td>
        <td width="125"><label>
          <input type="text" name="textfield2" required pattern="[A-Z a-z]{3,25}" />
        </label></td>
      </tr>
      <tr>
        <td>Gender</td>
        <td><label>
        <input name="radiobutton" type="radio" value="male" checked />
        male
        <input name="radiobutton" type="radio" value="female" />
        female</label></td>
      </tr>
      <tr>
        <td><p>Department </p>        </td>
        <td><label>
          <select name="select3">
            {% for i in val %}
            <option value="{{i[0]}}">{{i[1]}}</option>
            {% endfor %}
          </select>
        </label></td>
      </tr>
      <tr>
        <td>email</td>
        <td><label>
          <input type="text" name="textfield4" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
        </label></td>
      </tr>
      <tr>
        <td>Phone number </td>
        <td><label>
          <input type="text" name="textfield5" pattern="[6789][0-9]{9}"/>
        </label></td>
      </tr>
      <tr>
        <td>Qualification</td>
        <td><label>
          <input type="checkbox" name="checkbox" value="MBBS" />
          MBBS
          <input type="checkbox" name="checkbox" value="MD" />
          MD <input type="checkbox" name="checkbox" value="MS" />
          MS
        </label></td>
      </tr>
      <!--<tr>-->
        <!--<td height="23">Choose (from hosp. or not)</td>-->
        <!--<td><label>-->
          <!--<select name="select" id="select1">-->
            <!--<option>YES</option>-->
            <!--<option>NO</option>-->
          <!--</select>-->
        <!--</label></td>-->
      <!--</tr>-->
      <tr>
        <td>pincode</td>
        <td><input type="text" name="textfield7" pattern="[0-9]{6}" /></td>
      </tr>
      <tr>
        <td>username</td>
        <td><label>
          <input type="text" name="textfield8" required pattern="[A-Z a-z.]{3,25}" />
        </label></td>
      </tr>
      <tr>
        <td>password</td>
        <td><label>
          <input type="password" name="textfield3" required pattern="[A-Z a-z.]{3,25}" />
          <br />
        </label></td>
      </tr>
      </table>
    <p>
      <label>
      <input type="submit" name="Submit" value="Register" />
      </label>
    </p>
  </div>
</form>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/jquery">

$(document).ready(
function()
{
    $('#res').html('').prop('disabled',true);
    $("select#select1").change(
    function()
    {
        if ($(this).val() == 'YES')
        {
        alert("ok")

          $('#res').html('').prop('disabled',false);
        }
        else
        {
          $('#res').html('').prop('disabled',true);
        }
    });
});
</script>
{%endblock%}