{%extends 'index_admin.html'%}
{%block body%}

<body>
<form id="form1" name="form1" method="post" action="">
  <label>
  <div align="center">Doctor
    <select name="select">
      </select>
    <input type="submit" name="Submit" value="Search" />
    <br />
    <table width="200" border="1">
      <tr>
        <td>Day</td>
        <td>From Time </td>
        <td><p>To Time </p>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </div>
  </label>
</form>
</body>
{%endblock%}
