
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Patients App</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

<!--  Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">


  <!-- Vendor CSS Files -->
  <link href="./static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="../static/assets/css/style.css">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="#">Patients App</a></h1>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/admin_home">Home</a></li>
          <li><a href="/hospital_details">Register and Manage hospitals</a></li>
          <li><a href="/pharmacy_details">Pharmacy Management</a></li>
          <li><a href="/admin_view_doctors1">View Doctors</a></li>
          <li><a href="/feedback">Feedback</a></li>
          <li><a href="/complaints">Complaint</a></li>
        </ul>
      </nav>
      <!-- nav-menu -->
    </div>
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Welcome to Patients App</h1>
      <h2>Welcome back admin, you have access to create, edit, delete and browse through the following</h2>
    </div>
  </section>
  <!-- End Hero -->

  <main id="main">

    <!-- ======= Doctors Section ======= -->
     {%block body%}{%endblock%}

  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
        <div class="credits">

          &copy; Copyright <a href="#">Patients App</a>
        </div>
  </footer>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>